/*---------- BUTTONS start -----------*/

a.primary-button, div#contact-form button {
  background: #7800FF /* #indigo-minus-1 */;
  border-radius: 100px;
  padding: 11px 20px 10px;
  width: 100%;
  max-width: 424px;
  margin: 0 auto;
  text-align: center;
  display: block;
  border: none;
  color: #FFFFFF /* white */ !important;
  box-shadow: 0 0 15px #7800FF;
}

a.primary-button:hover, div#contact-form button:hover {
  text-decoration: none;
  background: #25A9B9 /* indigo-minus-2 */;
  color: #FFFFFF /* white */ !important;
  box-shadow: 0 0 15px #2AD1A1;
}

a.secondary-button {
  width: 232px;
  height: 54px;
  margin: 20px auto -20px;
  border-radius: 27px;
  background: #7800FF;
  text-align: center;
  display: block;
  border: none;
  color: #FFFFFF /* white */ !important;
  padding: 9px 35px;
  font-size: 25px;
  font-family: 'InteloAlt-Bold', Helvetica, Arial, sans-serif;
  box-shadow: none;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

a.secondary-button:hover {
  box-shadow: 0 0 10px #7800FF;
}

div.card-navigation {
  margin: 15px auto 0;
  text-align: center;
}

div.card-navigation div.navigation-bullet {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

    div.card-navigation div.navigation-bullet:last-of-type {
      margin-right:0;
    }

    div.card-navigation div.active-navigation-bullet {
      background: #7a00f5 /* #indigo */;
    }

    div.card-navigation div.inactive-navigation-bullet {
      border: 2px solid #7a00f5 /* #indigo */;
      opacity: 0.5;
    }

div#contact-form button {
  width:50%;
}

div#contact-form button#send {
  float: right;
  border-radius: 0 6px 6px 0;
  border-left: 2.5px solid #6600DA /* indigo-minus-2 */;
}

div#contact-form button#go-back {
  float: left;
  border-radius: 6px 0 0 6px;
}

div#contact-form button#go-back i.fa-chevron-left {
  font-size: 14px;
  opacity: 0.25;
  float: left;
  margin-top: 9px;
  color: black;
}

div#contact-form button#go-back:hover {
  background-color: #4500a9;
  box-shadow: 0 0 10px 0 #25006E;
}

/*---------- BUTTONS end -----------*/


/*---------- [MEDIA QUERIES] start ------------*/


/* Extra-Small devices (Mobile Narrowest) are set as default */

/* Small devices (Mobile Widest) */
@media (min-width: 576px) {

}

/* Medium devices (Tablet Portrait / Mobile Landscape) */
@media (min-width: 768px) {

  a.primary-button {
    max-width: 260px;
  }

}

/* Large devices (Tanblet Landscape) */
@media (min-width: 992px) {

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {

}


/*---------- [MEDIA QUERIES] end ------------*/
