/*---------- BUTTONS start -----------*/

a.primary-button, div#contact-form button {
  background: #6f3cff /* #indigo */;
  border-radius: 4px;
  padding: 12px 22px 11px;
  width: 100%;
  max-width: 300px;
  margin: 0;
  text-align: center;
  display: block;
  border: none;
  color: #FFFFFF /* white */ !important;
  box-shadow: 0 0 15px #00000080;
  font-size: 21px;
  letter-spacing: 0.5px;
}

a.primary-button:hover, div#contact-form button:hover {
  text-decoration: none;
  background: #25A9B9 /* indigo-minus-2 */;
  color: #FFFFFF /* white */ !important;
  box-shadow: 0 0 15px #2AD1A1;
}

.spinner {
   text-decoration: none;
  background: #25A9B9 /* indigo-minus-2 */ !important;
  color: #FFFFFF /* white */ !important;
  box-shadow: 0 0 15px #2AD1A1  !important;
}

a.secondary-button {
  width: 252px;
  margin: 25px auto -15px;
  border-radius: 4px;
  text-align: center;
  display: block;
  border: none;
  color: white;
  background: #6f3cff;
  padding: 9px 35px;
  font-size: 21px;
  font-family: 'Biotif', Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.75px;
  float: left;
  margin-top: 0px;
  width: 220px;
}

a.secondary-button i.fa-angle-right {
  font-size: 1.5rem;
}

a.tertiary-button {
  border: 2px solid #6f3cff;
  border-radius: 8px;
  color: #6f3cff;
  padding: 10px 25px 9px;
}

a.tertiary-button:hover {
  background: #6f3cff;
  color: #05032B;
  box-shadow: 0 0 10px #6f3cff;
  text-decoration: none;
}

div.card-navigation {
  margin: 15px auto -30px;
  text-align: center;
}

div.card-navigation div.navigation-bullet {
  width: 45px;
  height: 8px;
  border-radius: 15px;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
}

    div.card-navigation div.navigation-bullet:last-of-type {
      margin-right:0;
    }

    div.card-navigation div.active-navigation-bullet {
      background: #7a00f5 /* #indigo */;
      box-shadow: 0 0 4px #BA00FF;
    }

    div.card-navigation div.inactive-navigation-bullet {
      border: 2px solid #7a00f5;
      opacity: 0.45;
      background: #7a00f5;
    }

div#contact-form button {
  width:50%;
}

div#contact-form button#send {
  float: right;
  border-radius: 0 6px 6px 0;

  border-left: 2.5px solid #6600DA /* indigo-minus-2 */;
}

div#contact-form button#go-back {
  float: left;
  border-radius: 6px 0 0 6px;
}

div#contact-form button#go-back i.fa-chevron-left {
  font-size: 14px;
  opacity: 0.25;
  float: left;
  margin-top: 9px;
  color: black;
}

div#contact-form button#go-back:hover {
  background-color: #4500a9;
  box-shadow: 0 0 10px 0 #25006E;
}

/*---------- BUTTONS end -----------*/


/*---------- [MEDIA QUERIES] start ------------*/


/* Extra-Small devices (Mobile Narrowest) are set as default */

/* Small devices (Mobile Widest) */
@media (min-width: 576px) {

  a.primary-button {
    box-shadow: 0 0 10px #BA00FF;
  }

}

/* Medium devices (Tablet Portrait / Mobile Landscape) */
@media (min-width: 768px) {

  a.primary-button {
    max-width: 260px;
    margin: 0 auto;
  }

  div.desktop-card-navigation-wrapper {
    position: absolute;
    right: 0;
    width: 100px;
    margin-top: -360px;
    height: 360px;
    z-index: 1;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  div.desktop-card-navigation-button {
    width: 70px;
    margin-left: 40px;
    height: 100px;
    background: #474797;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 0 10px 2px black;
  }

  div.desktop-card-navigation-wrapper:hover div.desktop-card-navigation-button {
    background: #6f3cff /* #indigo */;
  }

  div.desktop-card-navigation-button i.fa-angle-right {
    color: rgba(25, 25, 71, 0.7);
    font-size: 2.5rem;
    margin-left: 5px;
  }

}

/* Large devices (Tanblet Landscape) */
@media (min-width: 992px) {

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {

  div.desktop-card-navigation-wrapper {
    margin-top: -430px;
    height: 430px;
  }

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1400px) {

  div.card-navigation {
    margin: 30px auto -48px;
  }

  div.card-navigation div.navigation-bullet {
    width: 45px;
    height: 8px;
  }

}


/*---------- [MEDIA QUERIES] end ------------*/
