/*---------- CASE STUDIES start------------*/

body.case-study h1 {
  text-align: center;
  max-width: 240px;
  margin: 0 auto;
  top: 130px;
  position: relative;
  z-index: 2;
}

body.case-study h2 {
  color:#7800FF;
}

body.case-study section#title {
    height: 355px;
}

#pearl-11 {
  width: 400px;
  height: 400px;
  top: -130px;
  right: -230px;
  display: block;
  background-image: url('../../imgs/cover/pearl-01.png');
}

#pearl-12 {
  width: 280px;
  height: 280px;
  top: 90px;
  left: -125px;
  display: block;
  background-image: url('../../imgs/cover/pearl-03-17-b.png');
}

body.case-study section#content-wrapper {
  margin: 0 auto;
}

body.case-study div.vertical-case-study-separator {
  height:100%;
  width:3px;
  display:block;
  margin:0px auto;
  background:#191947;
}

body.case-study div.horizontal-case-study-separator {
  height:3px;
  width:calc(100% - 30px);
  display:block;
  margin: 60px auto;
  background:#191947;
}

body.case-study div.col-12 div.horizontal-case-study-separator {
  width:100%;
}

body.case-study section#content-wrapper img {
  border-radius:8px;
  width: 100%;
}

body.case-study .card-shadow {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}


body.case-study p, body.case-study ol {
  max-width: 660px;
}

body.case-study div#brand-research p:last-child, body.case-study div#typeface-selection p:last-child, body.case-study div#colour-scheme p:last-child, body.case-study div#visual-language-outro p, body.case-study p#visual-language-intro, body.case-study div#brand-touchpoints p:last-child, body.case-study div#brand-strategy p:last-of-type, body.case-study div#brand-guidelines p:last-of-type, body.case-study div#web-development p, body.case-study div#brand-touchpoints p {
  margin-bottom: 0;
}

body.case-study div#brand-touchpoints p, body.case-study div#web-development p {
  margin-top: 45px;
}

body.case-study div#brand-strategy p:first-of-type,  body.case-study div#brand-guidelines p, body.case-study p#visual-language-intro {
  margin-top: 30px;
}

body.case-study ol {
  list-style-type: upper-alpha;
  margin-left: 30px;
}

body.case-study ol li {
  margin-bottom: 20px;
}

body.case-study ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

body.case-study ol li {
  padding-left: 1em;
  text-indent: -1em;
}

body.case-study ol li:before {
  padding-right: 5px;
  color:white;
}

body.case-study ol li:first-of-type:before {
  content: "A.";
}

body.case-study ol li:nth-of-type(2):before {
  content: "B.";
}

body.case-study img.moodboard {
  margin-top:20px;
}

div#logo-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #191947 url('../../imgs/case-studies/developing-our-own-brand/visual-identity/ideogram-grid.gif');
  background-position: center;
  background-size: cover;
}

div#overview {
  margin-top: 0px;
}

div#logo-system {
  margin-top: 55px;
}

body.case-study div.carousel {
  width: 100%;
  border-radius: 8px;
  margin-top: 30px;
}

div#wordmark {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: #171745;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 40px;
  padding: 34px 30px 26px;
}

div#colour-swatches {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

div.swatch {
  height: 90px;
  width: 90px;
  border-radius: 90px;
  float: left;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.swatch small {
  font-size: 2rem;
  letter-spacing: 0.5px;
  opacity: 0.85;
}

div#indigo {
  background: #7800FF;
  box-shadow: 0 0 15px #7800FF;
}

div#cream {
  background: #FEF4E6;
  box-shadow: 0 0 15px #FEF4E6;
}

div#cream small {
  color: rgba(25, 25, 71, 0.7);
}

div#slate {
  background: #1B1D6A;
  box-shadow: 0 0 15px #1D21B1;
}

div#pearl-13 {
  height: 300px;
  width: 300px;
  display: block;
  position: inherit;
  background-image: url('../../imgs/case-studies/developing-our-own-brand/visual-identity/09.png');
  margin: 0 auto;
}

div#pearls-sample, #pearl-14, #pearl-15, #pearl-16 {
  display: none;
}

body.case-study div#visual-language-outro {
    margin-top: 20px;
}

div.browser {
  border-radius: 8px;
  background: #231E4E;
  position: relative;
}

div.browser div.browser-circle {
  height: 12px;
  width: 12px;
  border-radius: 100px;
  float: left;
  background: #01012599;
  margin: 10px 0 10px 8px;
}

div.browser img {
  border-radius: 0 0 8px 8px !important;
}

div#folder-illustration, div#web-dev-browser {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

div#share {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

div.share-separator {
  height: 4px;
  width: 100%;
  margin: 0 auto 80px;
  background: #191947;
}

div#share h4 {
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin-bottom: 30px;
  color: white;
}

div#share a {
  width: 225px;
  border-radius: 8px;
  padding: 8px 0;
  border: 2px solid;
  display: block;
  margin: 0 auto 8px;
}

div#share a#facebook-share {
  color: #010125cc;
  background: #2e61ce;
  box-shadow: 0 0 10px #2e61ce;
  border-color: #2e61ce;
}

div#share a#twitter-share {
  color: #010125cc;
  background: #1da1f4;
  box-shadow: 0 0 10px #1da1f4;
  border-color: #1da1f4;
  opacity: 0.9;
}

body.case-study section#call-to-action div.curve {
  background-image: url('../../imgs/case-studies/developing-our-own-brand/dark-curve.svg');
}

/*---------- CASE STUDIES end ------------*/


/*---------- [MEDIA QUERIES] start ------------*/

/* Extra-Small devices (Mobile Narrowest) are set as default */
@media (min-width: 375px) {

  body.case-study h1 {
    max-width: 290px;
  }

  body.case-study section#title {
      height: 370px;
  }

  #pearl-11 {
    width: 400px;
    height: 400px;
    top: -120px;
    right: -180px;
  }

  #pearl-12 {
    width: 280px;
    height: 280px;
    top: 100px;
    left: -120px;
  }

  div.swatch {
    height: 150px;
    width: 30%;
    border-radius: 8px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.swatch small {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    opacity: 0.9;
    margin-top: 6px;
  }

}

/* Small devices (Mobile Widest) */
@media (min-width: 576px) {

  body.case-study section#content-wrapper {
    max-width: 720px;
    padding: 35px !important;
  }

  body.case-study h1 {
    max-width: 340px;
  }

  #pearl-11 {
    width: 400px;
    height: 400px;
    top: -110px;
    right: -125px;
  }

  #pearl-12 {
    width: 300px;
    height: 300px;
    top: 100px;
    left: -100px;
  }

  body.case-study section#title {
      height: 400px;
  }

  div#wordmark {
    height: 240px;
    padding: 34px 80px 26px;
  }

  div#share {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  div#share a {
    display: inline-table;
  }

  div#share a#facebook-share {
    margin: 0 5px 0 0;
  }

  div#share a#twitter-share {
    margin: 0 0 0 5px;
  }

}

/* Medium devices (Tablet Portrait / Mobile Landscape) */
@media (min-width: 768px) {

  body.case-study section#title {
      height: 520px;
  }

  body.case-study section#content-wrapper {
    padding: 35px !important;
  }

  body.case-study h1 {
    max-width: 380px;
  }

  #pearl-11 {
    width: 455px;
    height: 455px;
    top: -90px;
    right: -70px;
  }

  #pearl-12 {
    width: 350px;
    height: 350px;
    left: -80px;
    top: 140px;
  }

  body.case-study div.horizontal-case-study-separator {
    margin: 80px auto;
  }

  div.browser div.browser-circle {
    margin: 14px 0 14px 10px;
  }

  div#share a#facebook-share {
    background: none;
    color: #2e61ce;
    border-color: #2e61ce;
    box-shadow: none;
  }

  div#share a#facebook-share:hover {
    color: #010125;
    background: #2e61ce;
    box-shadow: 0 0 10px #2e61ce;
  }

  div#share a#twitter-share {
    background: none;
    color: #1da1f4;
    border-color: #1da1f4;
    opacity: 0.9;
    box-shadow: none;
  }

  div#share a#twitter-share:hover {
    color: #010125;
    background: #1da1f4;
    box-shadow: 0 0 10px #1da1f4;
  }

}

/* Large devices (Tanblet Landscape) */
@media (min-width: 992px) {

  body.case-study section#content-wrapper {
    padding: 45px !important;
    max-width: 100%;
  }

  body.case-study div.horizontal-case-study-separator {
    margin: 100px auto;
  }

  body.case-study h1 {
      max-width: 480px;
  }

  #pearl-11 {
    right: -60px;
    height: 440px;
    width: 440px;
    top: -120px;
  }

  #pearl-12 {
    width: 380px;
    height: 380px;
    left: -95px;
    top: 130px;
  }

  body.case-study div#brand-research p:last-child, body.case-study div#typeface-selection p:last-child, body.case-study div#colour-scheme p:last-child, body.case-study div#visual-language-outro p, body.case-study p#visual-language-intro, body.case-study div#brand-touchpoints p:last-child, body.case-study div#brand-strategy p:last-of-type, body.case-study div#brand-guidelines p:last-of-type, body.case-study div#web-development p, body.case-study div#brand-touchpoints p {
    margin-bottom: 2rem;
  }

  body.case-study div#brand-strategy p:first-of-type,  body.case-study div#brand-guidelines p, body.case-study p#visual-language-intro, body.case-study div#brand-touchpoints p, body.case-study div#web-development p {
    margin-top: 0;
  }

  body.case-study img.moodboard {
    margin-top: 30px;
  }

  body.case-study p#visual-language-intro {
    max-width: 520px;
  }

  div#wordmark {
    background: none;
    box-shadow: none;
    padding: 26px;
    height: 150px;
  }

  div#pearls-sample {
    height: 700px;
  }

  body.case-study div#visual-language-outro {
    margin-top: 200px;
  }

  div#pearl-13 {
    width: 500px;
    height: 500px;
    left: 100px;
    margin-top: 80px;
    position: absolute;
    display: block;
  }

  #pearl-14 {
    width: 400px;
    height: 400px;
    left: 50%;
    margin-top: -150px;
    position: absolute;
    display: block;
    background-image: url('../../imgs/case-studies/developing-our-own-brand/visual-identity/pearl-03-17-b.png');
  }

  #pearl-15 {
    width: 455px;
    height: 455px;
    left: 64%;
    margin-top: 330px;
    z-index: 2;
    position: absolute;
    display: block;
    background-image: url('../../imgs/case-studies/developing-our-own-brand/visual-identity/01.png');
  }

  #pearl-16 {
    width: 1100px;
    height: 1100px;
    left: 82%;
    margin-top: -200px;
    position: absolute;
    display: block;
    background-image: url('../../imgs/case-studies/developing-our-own-brand/visual-identity/12.png');
  }

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {

  body.case-study section#content-wrapper {
    max-width: 100%;
    padding: 75px !important;
  }

  body.case-study section#title {
      height: 640px;
  }

  body.case-study h1 {
      max-width: 550px;
  }

  #pearl-11 {
    width: 455px;
    height: 455px;
    top: -90px;
    right: -80px;
  }

  #pearl-12 {
    width: 420px;
    height: 420px;
    top: 200px;
    left: -80px;
  }

  #pearl-11 {
    top: -90px;
    right: 40px;
  }

  #pearl-12 {
    width: 435px;
    height: 435px;
    top: 210px;
    left: 10px;
  }

  div#wordmark {
    padding: 0;
    height: 180px;
  }

  div#colour-swatches {
    margin-bottom: 70px;
  }

  body.case-study p#visual-language-intro {
    max-width: 580px;
  }

  div#pearl-13 {
    left: 260px;
  }

  body.case-study div#web-development p {
    max-width: 650px;
  }

  div#share {
    margin-bottom: 0px;
  }

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1680px) {

  body.case-study section#content-wrapper {
    padding: 100px !important;
    max-width: 1680px;
  }

  body.case-study h1 {
      max-width: 600px;
  }

}


/*---------- [MEDIA QUERIES] end ------------*/
