/*---------- CASE STUDIES start------------*/

h1 {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color:#7800FF;
}

body.case-study section#call-to-action div.curve {
  display: none !important;
}

body.case-study section:after {
  content: "";
  display: none;
  width: 33%;
  margin: 0 33%;
  height: 3px;
  background: white;
}

body.case-study section#title {
    height: 700px;
}

section#brand-research, section#brand-strategy {
  width: 49%;
  float: left;
}

/*---------- CASE STUDIES end ------------*/


/*---------- [MEDIA QUERIES] start ------------*/

/* Extra-Small devices (Mobile Narrowest) are set as default */

/* Small devices (Mobile Widest) */
@media (min-width: 576px) {

}

/* Medium devices (Tablet Portrait / Mobile Landscape) */
@media (min-width: 768px) {

}

/* Large devices (Tanblet Landscape) */
@media (min-width: 992px) {

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {


}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1680px) {

  #pearl-11 {
    width: 455px;
    height: 455px;
    top: -90px;
    right: 60px;
    display: block;
    background-image: url('../../imgs/cover/pearl-01.png');
  }

  #pearl-12 {
    width: 455px;
    height: 455px;
    top: 193px;
    left: 40px;
    display: block;
    background-image: url('../../imgs/cover/pearl-03-17-b.png');
  }

  h1 {
    top: 130px;
    position: relative;
  }

}


/*---------- [MEDIA QUERIES] end ------------*/
