div.slider {
  width: 100%;
  padding: 0 15px;
  margin: 140px auto 0;
  max-width: 1200px;
}

div.slider img {
  border-radius: 6px;
}

.slick-dots li button:before {
  color: white !important;
  width: auto !important;
}

.slick-dots li button {
  width: auto !important;
}

.slick-dots li {
  width: auto !important;
}

.slick-dots {
    bottom: -35px !important;
    margin-left: -10px !important;
}

#slider-container {
  background-image: URL('/imgs/spinner.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

section#call-to-action {
  margin-top: 40px;
}

@media (min-width:576px) {

    #slider-container {
      background-size: auto;
    }

}


@media (min-width: 768px) {

    section#call-to-action {
      margin-bottom: 60px;
    }

}
