/*///////////// COOKIES MODAL START /////////////*/

div#cookies-modal-container {
    display: flex;
    justify-content: center;
  }
  
  div#cookies-modal {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 10px);
    max-width: 900px;
    margin: 0 auto;
    display: flex !important;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 20px;
    border-radius: 6px;
    backdrop-filter: blur(6px);
    z-index: 10;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
 
  div#cookies-title {
    color: #000;
  }

  div#cookies-modal-buttons {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  @media (min-width: 768px) {
  
    div#cookies-modal {
    justify-content: space-between;
    bottom: 20px;
    }
  
    div#cookies-modal-buttons {
      margin: 0;
    }
  
  }
  
  div#cookies-modal a {
    color: #000;
    border-bottom: 2px dotted #7537f8;
  }

  div#cookies-modal a:hover {
    color: #000;
    border-bottom: 2px solid #7537f8;
  }
  

  div#cookies-modal button {
    padding: 7px 25px 3px;
    border: 2px solid #fdb0bb;
    border-radius: 4px;
    background: #fdfdfd;
    letter-spacing: 0;
    color: #fdb0bb;
    text-transform: uppercase;
    font-size: 1rem;
    opacity: 0.8;
}
  
  div#cookies-modal button {
    float: right;
    color: #000;
    border-color: #000;
    background:rgba(255, 255, 255, 0.508);
    font-size: 0.9rem;
    font-family: 'BiotifMedium';
    border-width: 1px;
  }
  
  div#cookies-modal button:hover {
    background:white;
    color: #444444;
    box-shadow: none;
  }
  
  div#cookies-modal button:first-child {
    margin-left: 6px;
  }
  
  div#cookies-modal.cookies-d-none {
    display: none !important;
  }
  
  /*///////////// COOKIES MODAL END /////////////*/