/*///////////// COOKIES MODAL START /////////////*/

div#cookies-modal {
  position: fixed;
  right: 0px;
  bottom: 0px;
  background: #F9F9F9;
  border-radius: 0px;
  box-shadow: 0 0 10px black;
  z-index: 999999;
  padding: 15px 20px 50px;
  width: 100%;
}

div#cookies-modal p, div#cookies-modal p a {
  font-size: 2rem;
  color: #0009;
}

div#cookies-modal p a:hover {
  color: #000;
}

div#cookies-modal a.cookies-button {
  background: #7537f8;
  border-radius: 100px;
  width: calc(100% - 37px);
  position: absolute;
  padding: 7px 0 4px;
  margin-top: -4px;
  color: white;
  box-shadow: 0 0 10px #7537f8;
  font-size: 2rem;
}

@media (min-width:600px) {

  div#cookies-modal {
    right: 20px;
    bottom: 20px;
    border-radius: 6px;
    width: 320px;
  }

}

/*///////////// COOKIES MODAL END /////////////*/
