/*     HOME PAGE       */

.services-card {
    padding: 24px 16px;
}

.services-card img {
    margin-bottom: 16px;
}

.services-card .caption {
    margin-bottom: 6px;
    font-weight: 400;
}

.services-card .heading-3 {
    margin-bottom: 8px;
}

/*     ABOUT PAGE       */

section.founder h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

section.founder h4 {
    margin-bottom: 8px;
}

section.plat-section h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

section.plck-section h2 {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}