/*---------- FOOTER start ------------*/

footer {
  background: #020110 /* #slate-4 */;
  text-align: center;
  width: 100%;
}

  div#social-icons {
    padding: 20px 0 0px;
    height: 60px;
  }

      div#social-icons ul {
        margin: 0 auto;
        width: fit-content;
      }

      div#social-icons ul li {
        display: flex;
        margin: 0;
        border-radius: 5px;
        height: 45px;
        width: 45px;
        text-align: center;
        align-items: center;
        justify-content: center;
        float: left;
        margin-right: 10px;
      }

      div#social-icons ul a li  {
        line-height: 0;
      }

      div#social-icons ul a li i {
        font-size: 28px;
        color: #7537F8 /* #indigo */!important;
      }

      div#social-icons ul li:hover {
        background: #7537F8;
        box-shadow: 0 0 10px #BA00FF;
      }

      div#social-icons ul a:hover li i {
        color: white !important;
      }

      div#social-icons ul a#linkedin-icon li {
        margin-right: 0;
      }

  div#legal {
    padding: 20px 0 25px;
  }

  footer a small {
    letter-spacing: 0.8px !important;
  }

  /*---------- [MEDIA QUERIES] start ------------*/


  /* Extra-Small devices (Mobile Narrowest) are set as default */

  /* Small devices (Mobile Widest) */
  @media (min-width: 576px) {

  }

  /* Medium devices (Tablet Portrait / Mobile Landscape) */
  @media (min-width: 768px) {

    footer {
      padding: 30px 30px 0;
      height: 105px;
    }

    div#social-icons {
      width: 50%;
      float: left;
      padding: 0;
      text-align: left;
      margin-left: -12px;
      margin-right: 12px;
    }

    div#social-icons ul {
      margin: 0;
    }

        div#social-icons ul li {
          margin-right: 2px;
        }

        div#social-icons ul li a i {
          font-size: 28px;
          margin: 0 6px;
          color: #7537F8 /* #indigo-minus-4 */;
          opacity: 1;
        }

        div#social-icons ul li a:hover i {
          color: #7537f8 /* #white */;
          opacity: 1;
        }

    div#legal {
      width: 50%;
      float: left;
      padding: 10px 0 0 0;
      background: none;
      text-align: right;
    }

    div#legal span {
      color: #240079 !important;
    }

  }

  /* Large devices (Tanblet Landscape) */
  @media (min-width: 992px) {

  }

  /* Extra-Large devices (desktops, less than 1200px) */
  @media (min-width: 1200px) {

  }

  /*---------- [MEDIA QUERIES] end ------------*/

/*---------- FOOTER end ------------*/
