/*///////////// FOOTER START /////////////*/

footer {
  text-align: center;
  width: 100%;
  position: relative;
}

div#social-icons {
  padding: 20px 0 0;
  height:60px;
  margin-left: -5px;
}

div#social-icons ul {
  margin: 0 auto;
  width: fit-content;
}

div#social-icons ul li {
  display: flex;
  margin: 0;
  border-radius: 5px;
  height: 45px;
  width: 45px;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 10px;
}

div#social-icons ul a li {
  line-height: 0;
}

div#social-icons ul a li i {
  font-size: 28px;
  color: #FFFA !important;
}

div#social-icons ul a:hover li i {
  color: white !important;
}

div#social-icons ul a#linkedin-icon li {
  margin-right: 0;
}

div#tpg {
  background: #0003;
  padding: 25px 0 30px;
  margin-top: 5px;
}

div#tpg img.tpg-logo {
  height: 40px;
  width: auto;
}

div#legal {
  padding: 20px 0 25px;
}

@media (min-width:768px) {

  div#social-icons {
    width: 50%;
    padding: 0;
    text-align: left;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: 5px;
  }

  div#social-icons ul {
    margin: 0;
  }

  div#social-icons ul li {
    margin-right: 2px;
  }

  div#social-icons ul li a i {
    font-size: 28px;
    margin: 0 6px;
    color: #7537f8;
    opacity: 1;
  }

  div#social-icons ul li a:hover i {
    color: #7537f8;
    opacity: 1;
  }

  div#tpg {
    float: right;
    margin-top: -165px;
    background: none;
    margin-right: 25px;
  }

  div#legal {
    width: 100%;
    float: none;
    padding: 25px 0;
    background: #0003;
    text-align: center;
    margin-left: -30px;
    margin-top: 10px;
  }

  div#legal span {
    color:#240079!important;
  }

}

@media (min-width:992px) {

  div#social-icons {
    float: none;
    width: auto;
    left: calc(50% - 95px);
    position: absolute;
    margin: 0;
    padding: 0;
  }

  div#social-icons ul li {
    margin-right: 5px;
  }

  div#legal {
    background: none;
    position: absolute;
    left: 0;
    width: 30%;
    margin: 0;
    margin-top: -15px;
    text-align: left;
    padding-left: 20px;
  }

  div#tpg {
    position: absolute;
    float: none;
    right: 10px;
    margin: 0;
    margin-top: -23px;
  }

}

/*///////////// FOOTER END /////////////*/
