/*---------- GENERAL start------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #03012F /* indigo-minus-3 */;
  background: #03012F;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

::-moz-selection { /* Code for Firefox */
  background: #6f3cff; /* #cherry */
  color: #FFFFFF; /* #white */
}

::selection {
  background: #6f3cff; /* #cherry */
  color: #FFFFFF; /* #white */
}

button, a {
  cursor: pointer;
}

button:hover, a:hover {
  text-decoration: none;
}

input {
  width: 100%;
  background: #6600da;
  border: none;
  border-radius: 7px;
  padding: 14px 12px 12px;
  margin: 0 0 6px 0;
}

textarea {
  background: #6600da;
  border: none;
  border-radius: 7px;
  padding: 12px 12px 10px;
  height: 160px;
  width: 100%;
  margin: 0 0 3px 0;
}

input:focus, textarea:focus {
  background-color: #4500a9;
  box-shadow: 0 0 10px 0 #25006E;
}

div#captcha-wrapper {
  width: 100%;
  height: 100px;
  background: #6600da;
  margin-bottom: 10px;
}

audio, canvas, progress, video {
  display: block;
}

/*---------- GENERAL end ------------*/


/*---------- [MEDIA QUERIES] start ------------*/

/* Extra-Small devices (Mobile Narrowest) are set as default */

/* Small devices (Mobile Widest) */
@media (min-width: 576px) {

}

/* Medium devices (Tablet Portrait / Mobile Landscape) */
@media (min-width: 768px) {

}

/* Large devices (Tanblet Landscape) */
@media (min-width: 992px) {

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {

}


/*---------- [MEDIA QUERIES] end ------------*/
