/*///////////// HEADER START /////////////*/

header {
  position: absolute;
  z-index: 900;
  top: 130px;
  left: 0;
  width: 100%;
  border-top: 12px solid #7537f8;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

header img#logo {
  height: 45px;
  width: auto;
  margin-top: 18px;
  margin-left: 12px;
}

header.position-fixed {
  top: 0;
}


/* The navigation bar ------------------------------------------------------------------ */
.navbar {
  display: none;
}

/* Links inside the navbar */
.navbar a {
  color: #f2f2f2c0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* END of navigation bar ------------------------------------------------------------------ */


@media (min-width:750px) {

  header {
    top: 50px;
    background: rgb(1 1 1 / 76%);
    backdrop-filter: blur(8px);
    padding-bottom: 10px;
  }

  .navbar {
    display: block;
  }

  body.case-study header, body#privacy-policy header {
    background: none;
    backdrop-filter: none;
  }

  body.case-study .navbar, body#privacy-policy .navbar {
    display: none;
  }

}


@media (min-width:768px) {

  header img#logo {
    margin-top:20px;
    margin-left:20px;
    height:50px
  }
}

/*///////////// HEADER END /////////////*/
