/*///////////// HEADER START /////////////*/

header {
  position: absolute;
  z-index: 999;
  top: 50px;
  left: 0;
  left: 0;
  width: 100%;
  border-top: 12px solid #7537f8;
}

header img#logo {
  height: 45px;
  width: auto;
  margin-top: 18px;
  margin-left: 12px;
}

@media (min-width:768px) {

  header img#logo {
    margin-top:20px;
    margin-left:20px;
    height:50px
  }
}

/*///////////// HEADER END /////////////*/
