/*///////////// HEADER START /////////////*/

header {
  position: absolute;
  z-index: 900;
  top: 130px;
  left: 0;
  left: 0;
  width: 100%;
  border-top: 12px solid #7537f8;
}

header img#logo {
  z-index: 950;
  height: 45px;
  width: auto;
  margin-top: 18px;
  margin-left: 12px;
}


/* The navigation bar ------------------------------------------------------------------ */
.navbar {
 
  overflow: hidden;
  background-color: rgba(22, 22, 22, 0.373);
  position: fixed; /* Set the navbar to fixed position */
  top: 60px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  backdrop-filter: blur(8px);
  
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2c0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
/*
.nnnav-pre-scroll{
  top: 150px;
  position: absolute;
}
  

 .nav-scroll{

}----- */

/* END of navigation bar ------------------------------------------------------------------ */


@media (min-width:750px) {

  header {
    top: 50px;
  }

}


@media (min-width:768px) {

  header img#logo {
    margin-top:20px;
    margin-left:20px;
    height:50px
  }
}

/*///////////// HEADER END /////////////*/
