/*///////////// COVER START /////////////*/

section#cover {
  display: block;
}

section#cover h1 {
  top: 130px;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  max-width: 270px;
}

section#cover h1:after {
  content:"";
  display: block;
  height: 6px;
  width: 400px;
  background: #1c1c52;
  margin: 100px auto 0;
  border-radius: 6px;
}

section#cover h1:after {
  content:"";
  display: block;
  height: 4px;
  width: 170px;
  background: white;
  margin: 20px auto 0;
  border-radius: 6px;
}

div.background {
  position: relative;
  width: 100%;
  height: 100%;
  top: -410px;
  left: 0;
  z-index: 1;
}

section#cover {
  height: 450px;
}

#pearl-11 {
  display: block;
  background-image: url('../../imgs/pearls/09.webp');
  width: 400px;
  height: 400px;
  top: 180px;
  right:-110px;
}

#pearl-12 {
  display: block;
  background-image: url('../../imgs/pearls/01.webp');
  width: 300px;
  height: 300px;
  top: 360px;
  left: -120px;
}

div.pearl {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes rotating{from{-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}
}

@keyframes rotating{from{-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}
to{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}
}.rotate{-webkit-animation:rotating 545s linear infinite!important;-moz-animation:rotating 45s linear infinite!important;-ms-animation:rotating 45s linear infinite!important;-o-animation:rotating 45s linear infinite!important;animation:rotating 45s linear infinite!important}
.rotate-slower{-webkit-animation:rotating 70s linear infinite!important;-moz-animation:rotating 70s linear infinite!important;-ms-animation:rotating 70s linear infinite!important;-o-animation:rotating 70s linear infinite!important;animation:rotating 70s linear infinite!important}

@media (min-width:375px) {

    section#cover h1 {
      max-width:340px;
    }

}

@media (min-width:576px) {

    section#cover h1 {
      max-width: 550px;
    }

    section#cover h1:after {
      content:"";
      display: block;
      height: 4px;
      width: 170px;
      background: white;
      margin: 25px auto 0;
      border-radius:6px;
    }

    #pearl-11 {
      top: -420px;
      right: -400px;
      width: 900px;
      height: 900px;
    }

    #pearl-12 {
      width: 300px;
      height: 300px;
      top: 350px;
      left: -60px;
    }

    div#pearl-13 {
      height: 300px;
      width: 300px;
      display: block;
      position: inherit;
      margin: 0 auto;
      right: -580px;
      top: 650px;
      height: 245px;
      width: 245px;
      display: block;
      position: inherit;
      background-image: url(../../imgs/pearls/13.webp);
      margin: 0 auto;
      right: -200px;
      top: 525px;
    }

}

@media(min-width:768px) {

    section {
      padding: 70px 35px!important;
    }

    section#cover h1 {
      max-width: 650px;
    }

    #pearl-11 {
      top: -400px;
      right: -310px;
      width: 900px;
      height: 900px;
    }

    #pearl-12 {
      width: 300px;
      height: 300px;
      top: 340px;
      left: -60px;
    }

    div#pearl-13 {
      height: 300px;
      width: 300px;
      display: block;
      position: inherit;
      background-image: url(../../imgs/pearls/13.webp);
      margin: 0 auto;
      right: -580px;
      top: 650px;
      height: 280px;
      height: 250px;
      width: 250px;
      display: block;
      position: inherit;
      background-image: url(../../imgs/pearls/13.webp);
      margin: 0 auto;
      right: -320px;
      top: 510px;
    }

}

@media (min-width:992px) {

    section#cover h1 {
      max-width: 800px;
      top: 160px;
    }

    section#cover h1:after {
      display: none;
    }

    #pearl-11 {
      top: -450px;
      right: 30px;
      width: 1050px;
      height: 1050px;
      top: -260px;
      right: -170px;
      width: 900px;
      height: 900px;
    }

    #pearl-12 {
      width: 390px;
      height: 390px;
      top: 350px;
      left: -45px;
      width: 390px;
      height: 390px;
      top: 480px;
      left: -100px;
      width: 390px;
      height: 390px;
      top: 450px;
      left: -100px;
    }

    div#pearl-13 {
      height: 300px;
      width: 300px;
      display: block;
      position: inherit;
      background-image: url(../../imgs/pearls/13.webp);
      margin:0 auto;
      right: -580px;
      top: 650px;
      height: 300px;
      width: 300px;
      display: block;
      position: inherit;
      margin:0 auto;
      right: -370px;
      top: 695px;
      height: 300px;
      width: 300px;
      display: block;
      position: inherit;
      background-image: url(../../imgs/pearls/13.webp);
      margin: 0 auto;
      right: -370px;
      top: 730px;
    }

}


@media (min-width:1200px) {

    section#cover h1 {
      max-width: 900px;
    }

    section#cover h1:after {
      display: none;
    }

    #pearl-11 {
      top: -360px;
      right: -90px;
      width: 1050px;
      height: 1050px;
    }

    #pearl-12 {
      width: 390px;
      height: 390px;
      top: 440px;
      left: -105px;
    }

    div#pearl-13 {
      height: 300px;
      width: 300px;
      display: block;
      position: inherit;
      background-image: url(../../imgs/pearls/13.webp);
      margin: 0 auto;
      right: -500px;
      top: 760px;
    }

}

@media(min-width:1680px){

    section#cover h1 {
      max-width: 1220px;
      margin-top: 40px;
    }

    section#cover h1:after {
      display: none;
    }

    #pearl-11 {
      top: -400px;
      right: 40px;
      width: 1050px;
      height: 1050px;
    }

    #pearl-12 {
      width: 450px;
      height: 450px;
      top: 340px;
      left: -100px;
    }

    div#pearl-13 {
      height: 350px;
      width: 350px;
      display: block;
      position: inherit;
      background-image: url(../../imgs/pearls/13.webp);
      margin: 0 auto;
      right: -580px;
      top: 700px;
    }

}

@media (min-width:992px) {

    section#cover {
      height: 700px;
    }

}

/*///////////// COVER SECTION END /////////////*/

/*///////////// ——————————————————————————————————— /////////////*/


/*///////////// FEATURED PROJECTS START /////////////*/

section#featured-projects h2 {
  margin-bottom: 60px;
}

div.featured-project {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

div.project-description {
  max-width: 460px;
  padding-top: 35px;
}

div.project-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 32%;
    width: 100%;
    height: 160px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 80%);
}

h2 {
  max-width: 370px;
}


@media (min-width: 375px) {
    div.project-cover {
      height: 200px;
    }
}

@media (min-width: 576px) {

    div.featured-project {
      flex-direction: row;
    }

    div.project-cover {
      width: 40%;
      height: 280px;
      background-size: 180%;
      -webkit-transition: background-size .5s,margin-top 2s !important;
      transition: background-size .5s;
    }

    div.project-description {
      width: 50%;
      margin-left: 20px;
      padding-top: 5px;
    }

}

@media (min-width: 768px) {
    div.project-cover {
      height: 350px;
      background-size: 150%;
    }

    h2 {
      max-width: 480px;
    }
}

@media (min-width: 992px) {
    div.project-cover {
      height: 400px;
      background-size: 140%;
    }

    div.project-description {
      padding-top: 75px;
    }
}

@media (min-width: 1200px) {
    div.project-cover {
      height: 550px;
      width: 100%;
      max-width: 650px;
      background-size: 145%;
    }

    div.project-description {
      padding-top: 100px;
      margin-left: 40px;
    }
}

@media (min-width: 1400px) {

    div.project-cover {
      max-width: 720px;
    }

}

@media (min-width: 1680px) {

    h2 {
      max-width: 530px;
    }

}

div#tradeana-cover {
    background-image: url(../../imgs/case-studies/tradeana/tradeana-thumbnail.png);
}

div#bike-in-mex-cover {
    background-image: url(../../imgs/case-studies/bike-in-mex/bike-in-mex-flag.webp);
}

/*///////////// FEATURED PROJECTS END /////////////*/

/*///////////// ——————————————————————————————————— /////////////*/

/*///////////// ABOUT START /////////////*/


/*///////////// ABOUT END /////////////*/

/*///////////// ——————————————————————————————————— /////////////*/
