/*// 
div.landing-page-container {

}
//*/

div.landing-page-container div#landing-page-cover h2 {
  text-align:center;
  line-height:1.25;
  margin-bottom: 20px;
}

div.landing-page-container div#landing-page-cover p {
  max-width:500px;
  margin:0 auto auto;
  text-align:center;
}


div#boris-hrncic {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

div.portrait {
  min-width: 210px;
}

div#boris-hrncic img.portrait {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 4px;
    filter: grayscale(100%);
    margin-bottom: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

div.bio h5 {
  font-size:20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

div.bio p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 320px;
}

div.bio a:first-of-type {
  margin-right: 15px;
}

div.bio p a, div.bio p a:first-of-type{
  font-size: 18px;
  margin-right:0;
}

h4 {
  line-height: 1.4;
  max-width: 600px;
}

div.content-container {
  max-width: 355px;
  pad: 0 10px;
}

div#form-container {
  max-width: 330px;
  margin: 60px 0 80px 0;
}

button#final-cta {
  width: 100%;
  max-width: 340px;
  margin: auto;
  margin-bottom: 40px;
}

div#two-columns {
  display: flex;
}

div#two-columns div img {
  max-width: 450px;
  padding-top: 20px;
  padding-right: 15px;
  display: none;
}

@media (min-width:768px) {

    div#boris-hrncic {
      flex-direction: row;
    }
      
    div.content-container {
      max-width: 900px;
    }

    div.landing-page-container div#landing-page-cover h2 {
      max-width: 500px;
      margin: auto;
      margin-bottom: 20px; 
    }

    div#form-container {
      max-width:400px;
      margin: 60px auto 80px auto;
    }

    div#mc_embed_signup {
      margin-left: -20px;
    }

    button#final-cta {
      margin-bottom: 80px;
    }

    div#final-cta-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div#two-columns div img {
    display:flex;
    }
}

@media (min-width: 1680px) {

  div.landing-page-container div#landing-page-cover h2 {
    max-width: 640px;
  }
div#two-columns div img {
    display:flex;
    }
}
