/*---------- MODAL start ------------*/

/* div.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  padding: 12px;
  background: rgba(0, 0, 0, 0.85);
} */

/*    div.modal-window {
      height: 100%;
      width: 100%;
      background: #FFFFFF ;
      padding: 12px;
    } */

div.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  padding: 0px;
  background: #03041bcc;
}

    div.modal-window {
      height: 100%;
      width: 100%;
      background: #FFFFFF /* #white */;
      overflow: scroll;
      border-radius: 0px;
      margin-top: 60px;
      overflow-x: hidden;
    }

    div.modal-window div.modal-window-header {
      background: #474797 /* indigo-minus-3 @x% */;
      position: fixed;
      z-index: 1010;
      width: 100%;
      border-radius: 0;
      padding: 10px 12px 12px;
      margin: -60px 0;
      height: 60px;
    }


    div.modal-window div.modal-window-header h3 {
      color: #0c0c3e /* indigo-minus-3 @x% */;
      margin: 5px 0;
    }

    div.modal-window div.modal-window-header i.fa-times {
      right: 7px;
      position: absolute;
      color: #191947b3 /* indigo-minus-3 @x% */;
      border-radius: 20px;
      height: 28px;
      width: 28px;
      text-align: center;
      padding-top: 5.6px;
      top: 7px;
      cursor: pointer;
    }

    div.modal-window i.fa-times:hover {
      color: #03033e !important;
    }

    div.modal-window div.modal-window-content {
      padding: 20px 8px 70px 10px;
    }

    div.modal-window div.modal-window-content h4 {
      font-family: 'InteloAlt-SemiBold', Helvetica, Arial, sans-serif;
      color: #191947cc /* indigo-minus-3 @x% */;
      margin: 5px 0 5px;
    }

    div.modal-window p, div.modal-window li {
      color: #1919478c;
    }

    div.modal-window li {
      margin-left: 23px;
      margin-bottom: 1rem;
    }

    div.modal-window p, div.modal-window ol ol {
      margin-top: 15px;
    }

    div.modal-window div.modal-window-content hr {
      margin: 40px 0;
    }

    /*---------- [MEDIA QUERIES] start ------------*/


    /* Extra-Small devices (Mobile Narrowest) are set as default */

    /* Small devices (Mobile Widest) */
    @media (min-width: 576px) {

      div.modal-window div.modal-window-content {
        padding: 25px 25px 70px 25px;
      }

    }

    /* Medium devices (Tablet Portrait / Mobile Landscape) */
    @media (min-width: 768px) {

      div.modal-window {
        max-width: 744px;
        margin: calc(5% + 70px) auto;
        height: calc(90% - 140px);
        max-height: 100%;
        border-radius: 0 0 10px 10px;
      }

      div.modal-window div.modal-window-header {
        max-width: 744px;
        padding: 15px 20px 12px;
        border-radius: 10px 10px 0 0;
        margin: 0px 0;
        height: 75px;
        margin-top: -75px;
      }

      div.modal-window div.modal-window-content {
        padding: 40px;
      }

      div.modal-window div.modal-window-header i.fa-times {
        font-size: 1.5rem;
        right: 12px;
        top: 4px;
        padding: 3px 0 15px;
        margin-top: 6px;
      }

    }

    /* Large devices (Tanblet Landscape) */
    @media (min-width: 992px) {

    }

    /* Extra-Large devices (desktops, less than 1200px) */
    @media (min-width: 1200px) {

      div.modal-window div.modal-window-header {
        padding: 12px 20px 12px;
      }

    }

    @media (min-width: 1400px) {

    }

    @media (min-width: 1680px) {

      div.modal-window div.modal-window-header h3 {
        font-size: 40px;
      }

    }

    /*---------- [MEDIA QUERIES] end ------------*/

/*---------- MODAL end ------------*/
