/*------------------- SECTIONS start---------------------*/

section {
  padding: 40px 10px;
  display: flow-root;
}

/*---------- COVER start ------------*/
    section#cover h1 {
      max-width: 1220px;
      top: 130px;
      position: relative;
      z-index: 2;
      text-align: center;
      margin: 0 auto;
    }

    section#cover div.background {
      position: relative;
      width: 100%;
      height: 100%;
      top: -400px;
      left: 0;
      z-index: 1;
      opacity: 0.8;
      display: none;
    }

    section#cover {
      height: 640px;
    }

/*---------- COVER end ------------*/

/*---------- BODY CONTENT start ------------*/

section.content-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

/*---------- CASE STUDIES start ------------*/


div#case-studies {
}

    .case-project-wrapper {
      padding: 0 15px;
      background: #0a073c;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
      border-radius: 6px;
    }

    div#case-studies div.case-project {
      padding: 0 !important;
      border-radius: 8px;
    }

        div#case-studies div.case-project div.project-cover {
         background: #040225 url('../../imgs/case-studies/developing-our-own-brand/thumbnails/developing-our-own-brand.jpg');
         background-size: cover;
         background-repeat: no-repeat;
         background-position: 50% 32%;
         width: 100%;
         height: 160px;
         border-radius: 8px 8px 0 0;
        }

    div#case-studies div.case-project div.project-thumbnail {
      display: none !important;
    }

    div#case-studies div.case-project div.project-description {
      width: 100%;
      border-radius: 0 0 8px 8px;
      padding: 25px 4px 68px !important;
    }

        div#case-studies div.case-project div.project-description h3 {
          max-width: 182px;
          margin-bottom: 5px;
        }

        div#case-studies div.case-project div.project-description p {
          max-width: 302px;
          max-width: 315px;
          color: rgba(255, 255, 255, 0.7);
        }

/*---------- CASE STUDIES end ------------*/

/*---------- SERVICES start ------------*/

div#services div#service-cards-wrapper {
  width: 5000px;
}

div#services div.service-card {
      background: #0a073c;
      padding: 20px;
      border-radius: 8px;
      width: 100%;
      height: 330px;
      float: left;
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    }

    div#services div.service-card div.service-heading {
      margin: -20px -20px 20px;
      border-radius: 8px 8px 0 0;
      padding: 27px 24px 10px;
      display: flex;
      align-items: center;
    }

    div#services div.service-card div.service-heading.brand-research {
      background: rgb(120,0,255);
      background: linear-gradient(-30deg, rgba(120,0,255,0.35) 30%, rgba(120,0,255,0.9) 100%);
    }

    div#services div.service-card div.service-heading.brand-strategy {
      background: rgb(104,42,236);
      background: linear-gradient(-30deg, rgba(104,42,236,0.35) 30%, rgba(104,42,236,1) 100%);
    }

    div#services div.service-card div.service-heading.visual-identity {
      background: rgb(89,84,217);
      background: linear-gradient(-30deg, rgba(89,84,217,0.35) 30%, rgba(89,84,217,1) 100%);
    }

    div#services div.service-card div.service-heading.brand-guidelines {
      background: rgb(73,125,199);
      background: linear-gradient(-30deg, rgba(73,125,199,0.35) 30%, rgba(73,125,199,1) 100%);
    }

    div#services div.service-card div.service-heading.brand-touchpoints {
      background: rgb(58,167,180);
      background: linear-gradient(-30deg, rgba(58,167,180,0.35) 30%, rgba(58,167,180,1) 100%);
    }

    div#services div.service-card div.service-heading.web-development {
      background: rgb(42,209,161);
      background: linear-gradient(-30deg, rgba(42,209,161,0.35) 30%, rgba(42,209,161,0.85) 100%);
    }

    div#services div.service-card div.service-heading img {
      height: 50px;
      width: 50px;
      float: left;
      margin-top: -15px;
      margin-left: -12px;
      margin-right: -6px;
    }

    div#services div.service-card h4 {
      color: white;
      margin-top: -1.5px;
    }

    div#services div.service-card ul {
      margin-left: 25px;
      list-style:none;
    }

    div#services div.service-card ul li, div#services .service-card p {
      color: #ffffffb3;
    }

    div#services div.service-card ul li:before {
      content: '';
      height: 7px;
      width: 7px;
      margin: 0 8px 3px -25px;
      border-radius: 10px;
      display: inline-block;
      background:  #7537F8;
      opacity: 0.9;
    }

    div#services ul.slick-dots li:nth-child(7), div#services ul.slick-dots li:nth-child(8), div#services ul.slick-dots li:nth-child(9) {
      display: none;
    }

/*---------- SERVICES end ------------*/

/*---------- ABOUT start ------------*/

div#about {
  padding: 0 !important;
}

div#about h2 {
  max-width: 160px;
}

div#about img {
  width: 115%;
  margin: 20px 0 20px 0;
  max-width: 400px;
}

/*---------- ABOUT end ------------*/

/*---------- BODY CONTENT end ------------*/

/*---------- CTA start ------------*/

section#call-to-action {
  background-color: #231E4E /* #indigo-minus-5 */ ;
  box-shadow: #00000080 0 -10px 30px inset;
  height: 400px;
  position: relative;
  overflow: hidden;
}

    section#call-to-action.active-call-to-action {
      height: 500px !important;
      padding: 40px 0;
    }

    section#call-to-action.active-call-to-action div.curve {
      bottom: 182px;
    }

    section#call-to-action.active-call-to-action div#contact-form {
      margin: 35px auto 0;
    }

    section#call-to-action.active-call-to-action div#contact-form input, section#call-to-action.active-call-to-action div#contact-form textarea {
      font-size: 1.5rem;
      font-family: 'ff-meta-serif-web-pro', serif;
      font-family: 'Tiempos Text', serif;
      text-rendering: optimizeLegibility;
      font-kerning: normal !important;
      -moz-font-feature-settings: "kern", "liga", "clig", "calt";
      -ms-font-feature-settings: "kern", "liga", "clig", "calt";
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
      font-feature-settings: "kern", "liga", "clig", "calt";
      color: #FFFFFF;
    }

    section#call-to-action.active-call-to-action div#contact-form input::-webkit-input-placeholder, section#call-to-action.active-call-to-action div#contact-form textarea::-webkit-input-placeholder  { /* Edge */
      color: #ffffff8f;
    }

    section#call-to-action.active-call-to-action div#contact-form input:-ms-input-placeholder, section#call-to-action.active-call-to-action div#contact-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #ffffff8f;
    }

    section#call-to-action.active-call-to-action div#contact-form input::placeholder, section#call-to-action.active-call-to-action div#contact-form textarea::placeholder {
      color: #ffffff8f;
    }

    section#call-to-action div#cta-content {
      margin-top: 80px;
      z-index: 2;
      position: absolute;
      left: 0;
      width: 100%;
    }

    section#call-to-action h2 {
      color: white;
      text-align: center;
      max-width: 360px;
      margin: 0 auto 15px;
    }

    section#call-to-action p {
      margin-bottom: 30px;
      max-width: 441px;
    }

    div#contact-form {
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
      z-index: 2;
    }

    div#success-message {
      margin-top: 120px;
      width: 100%;
      position: absolute;
      left: 0;
    }

    div#success-message h2, div#success-message h3 {
      max-width: 100% !important;
      text-align: center !important;
    }

    div#success-message h3 {
      color: white;
      text-align: center;
    }

    section#call-to-action div.curve {
      background-image: url('../../imgs/cover/dark-curve.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      width: 100%;
      height: 320px;
      bottom: 81px;
      left: 0;
      position: absolute;
      z-index: 1;
      -moz-transform: scale(1, -1);
      -webkit-transform: scale(1, -1);
      -o-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
    }

    section#call-to-action div.background {
      background: rgb(2,0,36);
      background: -webkit-linear-gradient(326deg, rgba(2,0,36,1) 0%, rgb(37, 6, 86) 100%);
      background: -o-linear-gradient(326deg, rgba(2,0,36,1) 0%, rgb(37, 6, 86) 100%);
      background: linear-gradient(326deg, rgba(2,0,36,1) 0%, rgb(37, 6, 86) 100%);      
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
    }

/*---------- CTA end ------------*/


/*---------- [MEDIA QUERIES] start ------------*/


/* Extra-Small devices (Mobile Narrowest) are set as default */
@media (min-width: 380px) {
  div#case-studies div.case-project div.project-cover {
      height: 200px;
  }

}

/* Small devices (Mobile Widest) */
@media (min-width: 576px) {

  section.content-wrapper {
    max-width: 720px;
    padding: 35px !important;
  }

  .case-project-wrapper {
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }

  .case-project-wrapper a.secondary-button {
    width: 220px;
  }

  /*--- COVER start ---*/
    section#cover h1 {
      max-width: 550px;
    }
  /*--- COVER end ---*/

    /*--- CASE STUDIES start ---*/

    div#case-studies div.case-project div.project-description h3 {
      max-width: 182px;
    }

      div#case-studies div.case-project {
        box-shadow: none;
        border-radius: 0;
      }

        div#case-studies div.case-project div.project-cover {
         height: 280px;
         border-radius: 4px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
        }

        div#case-studies div.case-project div.project-thumbnail:hover {
          background-size: 115%  !important;
          -webkit-transition: background-size 0.5s, margin-top 2s !important; /* Safari */
          transition: background-size 0.5s, margin-top 2s !important;
        }

        div#case-studies div.case-project div.project-description {
          background: none;
        }

        div#case-studies div.case-project div.project-description h3 {
          color: #7537F8;
          color: #7537F8;
        }

        div#case-studies div.case-project div.project-description p {
          max-width: 290px;
        }
    /*--- CASE STUDIES end ---*/

    /*--- SERVICES start ---*/
        div#services div.service-card {
          width: 100%;
        }
    /*--- SERVICES end ---*/

    /*--- ABOUT start ---*/
        div#about h2 {
          max-width: 360px;
          margin-bottom: 2rem;
          margin-top: 1.5rem;
        }

        div#about img {
          margin-top: 2rem;
        }

        div#about p {
          max-width: 495px;
        }
    /*--- ABOUT end ---*/

    /*--- CTA start ---*/
    /*--- CTA end ---*/

}

/* Medium devices (Tablet Portrait / Mobile Landscape) */
@media (min-width: 768px) {

  section.content-wrapper {
    padding: 35px !important;
    max-width: 100%;
  }

  /*--- GENERAL start ---*/
      section {
        padding: 70px 35px !important;
      }
  /*--- GENERAL end ---*/

  /*--- COVER start ---*/
    section#cover h1 {
      max-width: 650px;
    }
  /*--- COVER end ---*/

  /*--- CASE STUDIES start ---*/
      div#case-studies div.case-project div.project-cover {
       height: 350px;
      }

        .polyfen-cover-INACTIVE {
           margin-top: 30px;
           -webkit-transition: background-size 0.5s, margin-top 2s !important; /* Safari */
           transition: background-size 0.5s, margin-top 2s !important;
         }

         .polyfen-cover-ACTIVE {
           margin-top: 0px;
           -webkit-transition: background-size 0.5s, margin-top 2s !important; /* Safari */
           transition: background-size 0.5s, margin-top 2s !important;
         }

      div#case-studies div.case-project div.project-description h3 {
        max-width: 245px;
      }

      div#case-studies div.case-project div.project-description p {
        max-width: 370px;
      }
  /*--- CASE STUDIES end ---*/

  /*--- SERVICES start ---*/
      div#services div.service-card {
          width: 100%;
          margin-right: 15px;
          padding: 20px 25px;
          height: 360px;
      }

      div#services div.service-card div.service-heading {
        margin: -20px -25px 20px;
        padding: 30px 24px 14px;
      }

      div#services div.service-card ul li:before {
        height: 8px;
        width: 8px;
        margin: 0 9px 3.5px -25px;
      }
  /*--- SERVICES end ---*/

  /*--- ABOUT start ---*/
      div#about h2 {
        max-width: 460px;
        margin-bottom: 20px;
      }

      div#about p {
        max-width: 510px;
      }

      div#about img {
        display: none;
      }
  /*--- ABOUT end ---*/

  /*--- CTA start ---*/
      section#call-to-action div#cta-content {
        margin-top: 50px;
      }

      section#call-to-action h2 {
        max-width: 460px;
        text-align: center;
        margin: 0 auto 10px;
      }

      section#call-to-action.active-call-to-action div#contact-form {
        margin: -12px auto 0;
      }
  /*--- CTA end ---*/
}

/* Large devices (Tanblet Landscape) */
@media (min-width: 992px) {

  section.content-wrapper {
    padding: 45px !important;
  }

  /*--- COVER start ---*/
    section#cover h1 {
      max-width: 800px;
    }
  /*--- COVER end ---*/

  /*--- CASE STUDIES start ---*/
      div#case-studies div.case-project div.project-cover {
       height: 400px;
      }
  /*--- CASE STUDIES end ---*/

  /*--- ABOUT start ---*/
      div#about h2 {
        max-width: none;
        width: 540px;
      }

      div#about p {
        max-width: 445px;
      }

      div#about img {
        display: block;
        max-width: none;
        margin-top: 65px;
      }
  /*--- ABOUT end ---*/

  /*--- CTA start ---*/
    section#call-to-action, section#call-to-action.active-call-to-action {
      height: 570px !important;
    }

    section#call-to-action.active-call-to-action div#contact-form {
      margin: 0 auto;
    }

    section#call-to-action div.curve {
      bottom: 252px !important;
    }

    section#call-to-action div#cta-content {
      margin-top: 115px;
    }

    div#success-message {
      margin-top: 165px;
    }
  /*--- CTA end ---*/

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {

  section.content-wrapper {
    padding: 75px !important;
  }

  /*--- COVER start ---*/
    section#cover h1 {
      max-width: 900px;
    }
  /*--- COVER end ---*/

  /*--- CASE STUDIES start ---*/
      div#case-studies div.case-project div.project-cover {
        height: 520px;
        width: 100%;
      }

      div#case-studies div.case-project div.project-thumbnail {
         width: 380px;
         height: 224px;
         border-radius: 4px;
         box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
         background-color: #2c277b;
         position: absolute;
         left: calc(50% - 270px);
         margin-top: 360px;
         background-size: 100% !important;
         background-position: center !important;
         -webkit-transition: background-size 0.5s, margin-top 2s !important; /* Safari */
         transition: background-size 0.5s, margin-top 2s !important;
      }

      div#case-studies div.case-project div.project-cover {
        height: 550px;
      }

      div#case-studies div.case-project div.project-thumbnail {
        height: 220px;
        left: calc(50% - 260px);
        margin-top: 390px;
        width: 300px;
      }

      .polyfen-thumbnail-INACTIVE {
         margin-top: 490px !important;
         -webkit-transition: background-size 0.5s, margin-top 3.5s !important; /* Safari */
         transition: background-size 0.5s, margin-top 3.5s !important;
       }

       .polyfen-thumbnail-ACTIVE {
         margin-top: 390px !important;
         -webkit-transition: background-size 0.5s, margin-top 3.5s !important; /* Safari */
         transition: background-size 0.5s, margin-top 3.5s !important;
       }

      div#case-studies div.case-project div.project-thumbnail#polyfen-thumbnail {
        background: url('../../imgs/case-studies/developing-our-own-brand/thumbnails/developing-our-own-brand.gif');
      }

      div#case-studies div.case-project div.project-description h3 {
        max-width: 282px;
      }

      div#case-studies div.case-project div.project-description p {
        max-width: 440px;
      }
  /*--- CASE STUDIES end ---*/


      div.desktop-card-navigation-wrapper, div.desktop-card-navigation-button {
        display: none;
      }

      div#services div.service-card {
        height: 400px;
      }

  /*--- SERVICES end ---*/

  /*--- ABOUT start ---*/
      div#about p {
        max-width: 505px;
      }

      div#about img {
        max-width: 620px;
        right: -30px;
      }
  /*--- ABOUT end ---*/

  /*--- CTA start ---*/
    section#call-to-action.active-call-to-action div#contact-form {
      margin: 25px auto 0;
    }

    div#success-message {
      margin-top: 150px;
    }
  /*--- CTA end ---*/
}

/* XXL devices (desktops, 13") */
@media (min-width: 1440px) {

  div#case-studies div.case-project div.project-thumbnail {
    height: 250px;
    width: 340px;
    left: calc(50% - 300px);
    margin-top: 390px;
  }

  .polyfen-thumbnail-INACTIVE {
     margin-top: 490px !important;
     -webkit-transition: background-size 0.5s, margin-top 3.5s !important; /* Safari */
     transition: background-size 0.5s, margin-top 3.5s !important;
   }

   .polyfen-thumbnail-ACTIVE {
     margin-top: 390px !important;
     -webkit-transition: background-size 0.5s, margin-top 3.5s !important; /* Safari */
     transition: background-size 0.5s, margin-top 3.5s !important;
   }

}

/* XXXL devices (desktops, 15") */
@media (min-width: 1680px) {

  /*--- GENERAL start ---*/
      section {
        padding: 90px 70px !important;
      }

      section.content-wrapper {
        padding: 100px !important;
      }
  /*--- GENERAL end ---*/

  /*--- COVER start ---*/
    section#cover h1 {
      max-width: 1220px;
    }
  /*--- COVER end ---*/

  /*--- CASE STUDIES start ---*/
      div#case-studies div.case-project div.project-cover {
        height: 550px;
      }

      div#case-studies div.case-project div.project-thumbnail {
        height: 280px;
        width: 375px;
        left: calc(50% - 330px);
        margin-top: 370px;
      }

      .polyfen-thumbnail-INACTIVE {
         margin-top: 470px !important;
         -webkit-transition: background-size 0.5s, margin-top 3.5s !important; /* Safari */
         transition: background-size 0.5s, margin-top 3.5s !important;
       }

       .polyfen-thumbnail-ACTIVE {
         margin-top: 370px !important;
         -webkit-transition: background-size 0.5s, margin-top 3.5s !important; /* Safari */
         transition: background-size 0.5s, margin-top 3.5s !important;
       }

      div#case-studies div.case-project div.project-description h3 {
        max-width: 310px;
      }
  /*--- CASE STUDIES end ---*/

  /*--- SERVICES start ---*/
  /*--- SERVICES end ---*/

  /*--- ABOUT start ---*/
      div#about h2 {
        max-width: 540px;
        margin-top: 5rem;
      }

      div#about img {
        max-width: 800px;
        right: 50px;
      }
  /*--- ABOUT end ---*/

  /*--- CTA start ---*/
      section#call-to-action div#cta-content {
        margin-top: 100px;
      }

      div#success-message {
        margin-top: 140px;
      }

      section#call-to-action h2 {
        max-width: 540px;
      }

      section#call-to-action.active-call-to-action div#contact-form {
        margin: 0 auto;
      }
      /*--- CTA end ---*/

}


/*---------- [MEDIA QUERIES] end ------------*/

/*------------------- SECTIONS end ---------------------*/
