
/*---------- SEPARATORS start -----------*/

body div.vertical-case-study-separator {
  height:100%;
  width: 3px;
  display: block;
  margin: 0px auto;
  background: #191947;
  opacity: 0.5;
}

body div.horizontal-case-study-separator {
  height:5px;
  width:calc(100% - 30px);
  display:block;
  margin: 120px auto;
  background: url('../../imgs/circle.svg');
  opacity: 0.75;
}

body div.horizontal-case-study-separator {
  width:100%;
}

/*---------- SEPARATORS end -----------*/


/*---------- SEPARATORS [MEDIA QUERIES] start ------------*/


/* Extra-Small devices (Mobile Narrowest) are set as default */

/* Small devices (Mobile Widest) */
@media (min-width: 576px) {

  _::-webkit-full-page-media, _:future, :root .safari-separator {
        display: flex;
        height: 40px;
        width: 100%;
        background: none;
      }

}

/* Medium devices (Tablet Portrait / Mobile Landscape) */
@media (min-width: 768px) {

  section#call-to-action h2:after {
    margin: 25px auto;
    width: 243px;
  }

  _::-webkit-full-page-media, _:future, :root .safari-separator {
        height: 60px;
      }

}

/* Large devices (Tanblet Landscape) */
@media (min-width: 992px) {

  _::-webkit-full-page-media, _:future, :root .safari-separator {
        height: 90px;
      }

}

/* Extra-Large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {

  _::-webkit-full-page-media, _:future, :root .safari-separator {
        height: 130px;
      }

}

/*---------- SEPARATORS [MEDIA QUERIES] end ------------*/
