/*///////////// COLORS START /////////////*/

html, body.dark-mode {
    background: #070924;
}

::-moz-selection {
  background: #7537f8;
  color: #fff;
}

::selection {
  background: #7537f8;
  color: #fff;
}

button {
  border: 1px solid #7537f8;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgba(255,255,255,.7) !important;
  background: #060a24;
  border-radius: 4px;
}

button:hover {
  box-shadow: 0 0 10px #ba00ff;
  background: #7537f8;
  color: rgba(255,255,255,1) !important;
}

/*///////////// COLORS END /////////////*/

/*///////////// TYPOGRAPHY START /////////////*/

* {
  font-family: BiotifMedium;
}

.BiotifMedium {
	font-family: BiotifMedium;
}

.BiotifBold {
	font-family: BiotifBold;
}

.BiotifExtraBold {
	font-family: BiotifExtraBold;
}

nav a {
  font-family: BiotifMedium;
}

.title-1 {
  font-family: 'BiotifExtrabold', helvetica, arial, sans-serif;
}

.caption {
  font-family: 'BiotifMedium', helvetica, arial, sans-serif;
}

.heading-1 {
  font-family: 'BiotifBold', helvetica, arial, sans-serif;
}

/*///////////// TYPOGRAPHY END /////////////*/

/*///////////// HELLO BAR START /////////////*/

div.hello-bar {
  top: 0;
  width: 100%;
  background: black;
  z-index: 999;
  position: relative;
  padding: 0;
  text-align: center;
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

div.hello-bar small {
  padding: 0 10px;
  line-height: 1.4;
}



div.hello-bar button {
  margin-left: 20px;
}

@media (min-width:750px) {

  div.hello-bar {
    height: 50px;
  }

  div.hello-bar small {
    padding: 0;
    line-height: normal;
  }

}

/*///////////// HELLO BAR END /////////////*/

/*///////////// HEADER START /////////////*/

header {
  width: calc(100% - 40px);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  z-index: 10;
  border-top: 12px solid #7537f8;
}

header img#logo {
  height: 50px;
  width: auto;
}

/* The navigation bar ------------------ */

header nav {
  text-align: right;
}
  
header nav a {
  color: #F2F2F2C0 !important;
  padding: 14px 16px;
  text-decoration: none;
}

header nav a:hover {
  color: #FFFFFF !important;
}

/* END of navigation bar ----------------- */
  

/*///////////// HEADER END /////////////*/

/*///////////// COVER START /////////////*/


  
/*///////////// COVER SECTION END /////////////*/

section#cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 800px;
}

/*///////////// ——————————————————————————————————— /////////////*/


/*///////////// FEATURED PROJECTS START /////////////*/
  

  
/*///////////// FEATURED PROJECTS END /////////////*/

/*///////////// ——————————————————————————————————— /////////////*/

/*///////////// ABOUT START /////////////*/

  

/*///////////// ABOUT END /////////////*/

/*///////////// ——————————————————————————————————— /////////////*/

div.featured-project {
  margin-bottom: 60px;
}

section#work p {
  max-width: 400px;
}

section#contact {
  text-align: center;
}

section#contact small {
  margin: 20px auto;
  display: block;
}

footer {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  align-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  gap: 8px;
}

footer ul li {
  display: inline;
}

footer a {
  opacity: 0.7;
}

footer a:hover {
  opacity: 1;
}