/*///////////// COLORS START /////////////*/

html, body.dark-mode {
    background: #070924;
}

::-moz-selection {
  background: #7537f8;
  color: #fff;
}

::selection {
  background: #7537f8;
  color: #fff;
}

button {
  border: 1px solid #7537f8;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgba(255,255,255,.7) !important;
  background: #060a24;
  border-radius: 4px;
}

button:hover, .button-hover {
  box-shadow: 0 0 10px #ba00ff;
  background: #7537f8;
  color: rgba(255,255,255,1) !important;
}

/*///////////// COLORS END /////////////*/

/*///////////// TYPOGRAPHY START /////////////*/

* {
  font-family: BiotifMedium;
}

.BiotifMedium {
	font-family: BiotifMedium;
}

.BiotifBold {
	font-family: BiotifBold;
}

.BiotifExtraBold {
	font-family: BiotifExtraBold;
}

p, p a, li, p strong, p span, li strong {
  font-family: 'freight-text-pro', serif;
}

nav a {
  font-family: BiotifMedium;
}

@font-feature-values "BiotifExtraBold", "BiotifBold", "BiotifMedium" { 
  @styleset { alt-a: 1;} 
  @stylistic { alternates: 1; } 
}

.title-1 {
  font-family: 'BiotifExtrabold', helvetica, arial, sans-serif;
  font-variant-alternates: styleset(alt-a);
}

.caption {
  font-family: 'BiotifMedium', helvetica, arial, sans-serif;
}

.heading-1 {
  font-family: 'BiotifBold', helvetica, arial, sans-serif;
  font-variant-alternates: styleset(alt-a);
}

/*///////////// TYPOGRAPHY END /////////////*/

/*///////////// HELLO BAR START /////////////*/

div.hello-bar {
  top: 0;
  width: 100%;
  background: black;
  z-index: 999;
  position: relative;
  padding: 0;
  text-align: center;
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

div.hello-bar small {
  padding: 0 10px;
  line-height: 1.4;
}



div.hello-bar button {
  margin-left: 20px;
}

@media (min-width:750px) {

  div.hello-bar {
    height: 50px;
  }

  div.hello-bar small {
    padding: 0;
    line-height: normal;
  }

}

/*///////////// HELLO BAR END /////////////*/

/*///////////// HEADER START /////////////*/

header {
  width: calc(100% - 40px);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  z-index: 10;
  border-top: 12px solid #7537f8;
}

header img#logo {
  height: 50px;
  width: auto;
}

/* The navigation bar ------------------ */

header nav {
  text-align: right;
}
  
header nav a {
  color: #F2F2F2C0 !important;
  padding: 14px 16px;
  text-decoration: none;
}

header nav a:hover {
  color: #FFFFFF !important;
}

/* END of navigation bar ----------------- */
  

/*///////////// HEADER END /////////////*/

/*///////////// COVER START /////////////*/


  
/*///////////// COVER SECTION END /////////////*/

section#cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 800px;
}

/*///////////// ——————————————————————————————————— /////////////*/


/*///////////// FOOTER START /////////////*/
  
footer {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  align-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  gap: 15px;
}

footer ul li {
  display: inline;
}

footer a {
  opacity: 0.7;
}

footer a:hover {
  opacity: 1;
}
  
/*///////////// FOOTER END /////////////*/

/*///////////// HOMEPAGE START /////////////*/

div.featured-project {
  margin-bottom: 60px;
}

div.featured-project {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

div.project-description {
  max-width: 460px;
  padding-top: 35px;
}

div.project-cover {
  width: 100%;
}

div.project-cover img {
  border-radius: 4px;
  width: 100%;
}

div.project-cover figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

div.project-cover figure:hover img, div.project-cover-hover figure img {
	-webkit-transform: scale(1.025);
	transform: scale(1.025);
}

div.project-preview {
  display: none;
}

@media (min-width: 576px) {

  div.featured-project {
    flex-direction: row;
  }

  div.project-cover {
    width: 40%;
    height: 280px;
    background-size: 180%;
    -webkit-transition: background-size .5s,margin-top 2s !important;
    transition: background-size .5s;
  }

  div.project-description {
    width: 50%;
    margin-left: 20px;
    padding-top: 5px;
  }

}

@media (min-width: 768px) {

  div.project-cover {
    height: 350px;
    background-size: 150%;
  }

}

@media (min-width: 992px) {

  div.project-cover {
    height: 400px;
    background-size: 140%;
  }

  div.project-description {
    padding-top: 75px;
  }

}

@media (min-width: 1200px) {

  div.project-cover {
    height: 550px;
    width: 100%;
    max-width: 600px;
    background-size: 145%;
  }

  div.project-preview {
    display: flex;
    width: 340px;
    position: relative;
    float: right;
    top: -200px;
    left: 20px;
    box-shadow: 0 0 15px 0px #00000033;
  }

  div.project-description {
    padding-top: 100px;
    margin-left: 40px;
  }

}

@media (min-width: 1400px) {

  div.project-cover {
    max-width: 640px;
  }

}

/*///////////// HOMEPAGE END /////////////*/

/*///////////// CTA SECTION START /////////////*/

section#contact {
  text-align: center;
}

section#contact small {
  margin: 20px auto;
  display: block;
}

/*///////////// CTA SECTION END /////////////*/

/*///////////// CASE STUDIES START /////////////*/

body.case-study h1 {
  margin-top: 120px;
}

div#project-navigation-container {
  width: 100%;
  max-width: 1200px;
  margin: 140px auto 40px;
  display: flex;
  padding-left: 10px;
}

div#other-projects-container {
  width: 100%;
  padding: 0 15px;
  margin: auto;
  margin-top: 120px;
}

div.other-project-card {
  width: calc(100% - 30px);
  margin-bottom: 150px;
}

div.other-project-card img {
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
  margin-bottom: 20px;
}

div.other-project-card p {
  width: 100%;
  max-width: 480px;
}

@media (min-width:576px) {

  div.other-project-card {
    width: calc(50% - 30px);
    margin-bottom: 60px;
  }

  div.other-project-card:first-of-type {
    float: left;
  }

  div.other-project-card:nth-of-type(2) {
    float: left;
    margin-left: 30px;
  }

}

@media (min-width: 1200px) {

  body.case-study div.project-cover {
    height: auto;
  }

  div#other-projects-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
  }

  div#project-navigation-container {
    padding-left: 30px;
  }

  div.other-project-card {
    width: calc(50% - 20px);
  }

  div.other-project-card:nth-of-type(2) {
    float: right;
    margin-left: 0;
  }

  div.other-project-card img {
    margin-bottom: 40px;
  }

}

/*///////////// CASE STUDIES END /////////////*/


/*///////////// ——————————————————————————————————— /////////////*/