body.dark-mode {
    background-color: #070924;

}

button, a.button, input.button {
    background-image: linear-gradient(45deg,#722FFF,#4b00ae,#d12b94, #722FFF, #4b00ae);
    background-size: 200% 200%;
    box-shadow: 0 0 4px #712fff, inset 0 0 0 4px #07092483;
}

.animated-button {
    background-image: linear-gradient(45deg,#722FFF,#4b00ae,#d12b94, #722FFF, #4b00ae);
    background-size: 200% 200%;
    animation: gradient 7s infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}

::selection {
    background: #722FFF;
}

ul li::before {
    color: #722FFF;
}

body.dark-mode hr {
    border-color: #7437f850;
}

button:hover, a.button:hover, input.button:hover {
    background-image: linear-gradient(45deg,#722FFF,#4b00ae,#d12b94, #722FFF, #4b00ae) !important;
    box-shadow: 0 0 4px 4px #712fff, inset 0 0 0 4px #070924;
    animation: gradient 7s infinite;
}

button.secondary-button, a.button.secondary-button, input.button.secondary-button {
    border-color: #7437f8b3;
    box-shadow: none;
    background: #1e1758;
}

button.secondary-button:hover, a.button.secondary-button:hover, input.button.secondary-button:hover {
    background-image: none !important;
    box-shadow: 0 0 10px #712fff, inset 0 0 0 2px #070924;
    background-color: #712fff;
}

form input,
form textarea {
    background: #120e32;
    color: #fff;
    border: 1px solid #7437f850;
}

form input:focus,
form textarea:focus,form input:focus-visible,
form textarea:focus-visible  {
    border-color: #7437f850;
    background: black;
}

:focus, :focus-visible {
    outline: #7437f8 auto 1px;
}