body.dark-mode {
    background-color: #070924;

}

button, a.button, input.button {
    background-image: linear-gradient(45deg,#722FFF,#4b00ae,#d12b94, #722FFF, #4b00ae);
    background-size: 200% 200%;
    box-shadow: 0 0 2px #712fff5c;
}

.animated-button {
    background-image: linear-gradient(45deg,#722FFF,#4b00ae,#d12b94, #722FFF, #4b00ae);
    background-size: 200% 200%;
    animation: gradient 7s infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}

::selection {
    background: #722FFF;
}

ul li::before {
    color: #722FFF;
}

body.dark-mode hr {
    border-color: #7437f850;
}

button:hover, a.button:hover, input.button:hover {
    background-image: linear-gradient(45deg,#722FFF,#4b00ae,#d12b94, #722FFF, #4b00ae) !important;
    box-shadow: 0 0 10px #712fff;
    animation: gradient 7s infinite;
}

button.secondary-button, a.button.secondary-button, input.button.secondary-button {
    border-color: #7437f850;
}

button.secondary-button:hover, a.button.secondary-button:hover, input.button.secondary-button:hover {
    background-image: none !important;
    box-shadow: 0 0 10px #712fff;
    background-color: #712fff;
}